* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;    
    font-family: 'Roboto', sans-serif;
}

.lateralbar {
    top:0;
    width:20%;
    height: 100vh;    
    padding-top: 30px;
    z-index: 100;
}

.lateralbar--color {
    background-color: #179b91;
}

.lateralbar--position {
    position: fixed;
}

.lateralbar__photo {
    width: 60%;
    height: 20%;
    display: block;        
}

.lateralbar__photo--radius {
    border-radius: 50%;
    background-color: white;
}

.lateralbar__menu {
    list-style: none;
    margin:30px auto 0;
    padding: 0;    
    text-align: center;
}

.lateralbar__item--color {
    color: white;
    background-color: #ff7400;
}

.lateralbar__item {    
    padding: 20px 0;
}

.lateralbar__item--color:hover {
    line-height: 100%;
    width: 100%;
    background-color: #fc8726;
}

.lateralbar__photo, 
.lateralbar__socialnetworks {
    margin: 0 auto;
}

.maincontent {        
    padding-left: 28vw;
    text-align: justify;    
    margin-top: 60px;
}

.article {
    width: 50vw;
}

.article__title {
    font-size: 4.5rem;
    text-align: justify;
    font-weight: 100;
    color: #737373;
}

.article__subtitle {
    font-size: 2rem;
    font-weight: 100;
    margin:10px 0;
    font-weight: 100;    
    color: darkgray;
}

.article__content {
    text-align: justify;
}

.footer {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;   
    margin-top: 40px;
    background-color: darkgray;
    color: black;
}

@media only screen and (max-width:414px){
    
    .lateralbar__photo {
        height: 60%;
    }

    .article {        
        width: 80vw;
    }

    .article__title {
        font-size: 3rem;
    }

    .lateralbar {
        width: 100vw;
        height: 14vh;
    }

    .lateralbar--position {        
        position: relative;
    }

    .lateralbar__photo {
        width: 15%;
        margin-top: 10px;
        margin-left: 10px;
    }

    .lateralbar__menu {
        display: none;
    }

    .maincontent {
        width: 80vw;
        padding: 0;
        margin: 30px auto 0;
    }    
}
